@import "../../../../../basic.scss";

.avatar {
  position: relative;
  grid-area: profile-photo;
  img {
    border-radius: 10px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .avatarUpload {
    margin: 10px 0;
  }
}
.avatarUpload {
  opacity: 0.7;
  background-color: #141414;
  border-radius: 10px;
  padding: 5px;
  color: #e0e3e6;
  text-align: center;
  margin-top: 5px;
  input {
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }
  p {
    margin: 0px;
    font-size: 14px;
  }
}
