@import "../../../../basic.scss";

.block {
  .heading {
    color: $socialTextWt;
    font-size: $fz22;
    margin: 15px 0;
  }
  .someposts {
    border-radius: 10px;
  }
  .postAdd {
    textarea {
      width: 250px;
      height: 75px;
    }
    button {
    }
  }
}
