@import '../../../basic.scss';

.dialogItem {
    padding: 10px 0;
    border-bottom: 1px solid $socialTextWt;
    a {
        color: $socialTextWt;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}