@import "../../../basic.scss";

.dialogItem {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "dialogImg dialogContent";
  padding: 10px 0;
  a {
    color: $socialTextWt;
    text-decoration: none;
    font-size: $fz16;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $socialColor4;
  }
  .dialogImg {
    grid-area: dialogImg;
    place-self: start;
  }
  .dialogContent {
    grid-area: dialogContent;
    border-bottom: 1px solid $socialColor4;
    place-self: center;
    p {
      margin: 5px 0px;
      font-size: $fz14;
      color: $socialTextWt;
    }
  }
}
@media (max-width: 576px) {
  .dialogItem {
    grid-template-columns: 50px auto;
    .dialogContent {
      place-self: initial;
    }
  }
}
