$color1: #e0e3e6;

.wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 'dialogs messages';
    background-color: $color1;
    padding: 30px;
    border-radius: 10px;
    .dialogs {
        grid-area: dialogs;
        border-right: 1px solid #222222;
    }
    .messages {
        grid-area: messages;
    }
}