@import '../../../../basic.scss';

.block {
    float: left;
    width: 100px;
    text-align: center;
    p {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: $fz16;
        color: $socialTextWt;
    }
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        
    }
}