.usersBlock {
  border-bottom: 1px solid #464646;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 35px 3fr 120px;
  padding: 5px;
  grid-gap: 15px;
  align-items: center;
  justify-items: start;
}
.avatar {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.description {
  p {
    margin: 0px;
  }
  .name {
    color: #6fa5e5;
  }
  .status {
    color: #939393;
    font-size: 14px;
  }
  .location {
    color: #939393;
    font-size: 14px;
  }
}
.toggleButtons {
  button {
    border: 0px;
    padding: 5px 15px;
    border-radius: 3px;
  }
}
.removeFriendButton {
  background-color: #555555;
  color: #e1e3e6;
}
.addFriendButton {
  background-color: #e0e3e6;
}
.contact {
  span {
    margin-right: 10px;
    color: #6fa5e5;
    font-size: 14px;
  }
}
