.avatar {
  vertical-align: middle;
  img {
    border-radius: 50%;
    width: 60px;
    border: 10px solid #141414;
  }
}
@media (max-width: 576px) {
  .avatar img {
    border: 0px;
    width: 40px;
  }
}
.auth {
  p {
    margin: 0px 0px 5px 0px;
    color: white;
  }
  vertical-align: middle;
  button {
    font-size: 12px;
  }
}
