@import '../../../../basic.scss';


.block {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'avatar content';
    column-gap: 15px;
    margin: 15px 0;
    background-color: #141414;
    border-radius: 10px;
    border-top: 1px solid #e0e3e6;
    .avatar {
        grid-area: avatar;
        img {
            width: 50px;
            border-radius: 50%;
            padding: 15px;
    
        }
    }
    .content {
        grid-area: content;
        .author {
            color: $socialTextWt;
            font-weight: $fwb;
        }
        .text {
            color: $socialTextWt;
        }
        .id {
            color: $socialTextWt;
        }
    }
}
