@import '../../../../basic.scss';

.profile {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'profile-photo profile-info';
    column-gap: 15px;
    margin: 15px 0;
    .photo {
        grid-area: profile-photo;
        img {
            width: 100%;
            border-radius: 10px;
            border: 1px solid $socialTextWt;
            }
    }
    .info {
        grid-area: profile-info;
        .name {
            color: $socialTextWt;
            font-size: 22px;
        }
        ul {
            list-style-type: none;
            padding-left: 10px;
        }
        li {
            color: $socialColor4
        }
        span {
            color: $socialText1;
        }
    }
}

