@import '../../../../basic.scss';

.leftMenu
    ul {
        list-style-type: none;
        padding-left: 0px;
        text-align: center;
    }
    li {
        font-size: $fz16;
        color: $socialTextWt;
        a {
            color: $socialTextWt;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }