$vkwhite: #e0e3e6;
$fz16: 16px;

.leftMenu
    ul {
        list-style-type: none;
        padding-left: 0px;
        text-align: center;
    }
    li {
        font-size: $fz16;
        color: $vkwhite;
    }