@import '../../basic.scss';

.wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 'dialogs messages';
    background-color: $socialColor2;
    border-radius: 10px;
    column-gap: 20px;
    .dialogs {
        grid-area: dialogs;
        border-right: 1px solid #222222;
    }
    .messages {
        grid-area: messages;
    }
}