.headerWrap {
  padding: 0px 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerIcon {
  a {
    color: white;
  }
}
.headerLogo {
  img {
    width: 40px;
  }
}
