.headerWrap {
    width: 960px;
    img {
        width: 40px;
        padding: 10px;
    }
}
.headerIcon {
    position: absolute;
    right: 0px;
    top: 0px;
    img {
        border-radius: 50%;
    }
}