.editForm {
  margin: 16px 0;
  padding-left: 10px;
  label {
    float: left;
    color: #69696b;
    margin-right: 10px;
  }
}
.contacts {
  label {
    float: left;
    color: #69696b;
    margin-right: 10px;
  }
}
.error {
  margin: 10px 0;
  border: 1px sold red;
  color: red;
}
