@import "../../../../../basic.scss";

.info {
  grid-area: profile-info;
}
.name {
  color: $socialTextWt;
  font-size: 22px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
}
li {
  color: $socialColor4;
  span {
    color: $socialText1;
  }
}
