$socialTextWt: #e0e3e6;
$socialText1: #6fa5e5;
$socialColor1: #141414;
$socialColor2: #222222;
$socialColor3: #333333;
$socialColor4: #69696b;
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz22: 22px;
$fwb: bold;

.button1 {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: $socialColor3;
    border: $socialColor3;
    color: $socialTextWt;
    margin-top: 10px;
}